<h1>New Job</h1>

<%= simple_form_for @job do |form| %>
  <%= form.input :title, label: "Job title" %>
  <%= form.input :company, label: "Company name" %>
  <%= form.input :description, label: "Job description" %>
  <%= form.input :url, label: "Link to job" %>
  <%= form.button :submit %>
  <%= link_to 'Back', jobs_path %>
<% end %>
