<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charlotte Tech List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/assets/my_styles.css">
  </head>

  <body>
  <nav id="navbar-desktop" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TECH LIST</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'All Jobs', root_path %></li>
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, jobs_path(category: category.name) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="align-middle job-post"><%= link_to 'Post Job', new_job_path %></li>
      </ul>
    </div>
  </nav>

  <nav id="navbar-mobile" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'All Jobs', root_path %></li>
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, jobs_path(category: category.name) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li id="job-post" class="align-middle btn navbar-btn btn-danger btn-xs"><%= link_to 'POST JOB', new_job_path %></li>
      </ul>
    </div>
  </nav>

  
  

  <div class="container-fluid jumbotron text-center">
    <h1>CHARLOTTE TECH LIST</h1>
  </div>

  <%= yield %>

    <div class="container-fluid text-center footer">
      <p>Copyright | 2017</p>
    </div>

  </body>
</html>

